h1 {
    font-weight: 700;
    font-size: 90px;
    font-family: Impact;
    text-transform: uppercase;
    background: linear-gradient(90deg, #F6E6E8, #5E376D, #D4BBDD);
    letter-spacing: 5px;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    background-repeat: no-repeat;
    background-size: 80%;
    animation: shine 5s linear infinite;
    position: relative;
  }
  
  @keyframes shine {
    0% {
      background-position-x: -500%;
    }
    100% {
      background-position-x: 500%;
    }
  }
.containerList {
  margin: 20px 0 7% 0;
}