* {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
        -ms-box-sizing: border-box;
            box-sizing: border-box;
  }
  
.item-detail-contenedor {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.item-detail-img {
    transition: transform .2s;
    cursor: pointer;
}
.item-detail-img:hover {
    transform: scale(1.5);
} 

.item-detail-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 70%;
    padding-left: 20px;
}
.item-detail-info p {
    font-size: 14px;
    color: #1b1b1b;
    padding-right: 5%;
}
.item-detail-featured-img {
    border: 10px solid #fff;  
    height: 400px;
    width: 400px;
    margin: 20px;
    overflow: hidden;
    -webkit-box-shadow: 5px 5px 5px #111;
    box-shadow: 5px 5px 5px #111;  
}