/*CONTADOR*/
.botones {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Courier;
    font-weight: 600;
    color: #5E376D;
  }
.botones p {
    border-radius: 6px;
    height: 40px;
    width: 40px;
    margin: 5px;
    font-size: 22px;
    display: inline-block;
    text-align: center;
    padding: 0 10px;
  }

.cajita {
  width: 100px;
  margin: 20px;
}
