/*BOTONES*/
.botonPrincipal {
    background-color: #D4BBDD;
    border-radius: 8px;
    border-style: none;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: "Montserrat", Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: 500;
    height: 40px;
    line-height: 20px;
    padding: 10px 16px;
    text-align: center;
    text-decoration: none;
    margin: 5px 0;
  }
.lse, .lse:hover, .lse:visited, .lse:active {
  text-decoration: none;
  color: #FFFFFF;
}
    
.botonPrincipal:hover {
    background-color: #d4bbddd2;
  }

  /*FUENTES*/
.primary {
    font-family: Montserrat, Arial, sans-serif;
    font-size: 14px;
    font-weight: 400;
  }

  /*ALERTS*/
  .swal-overlay {
    background-color: rgba(0, 0, 0, 0.418);
  }
  .swal-button {
    padding: 7px 19px;
    border-radius: 2px;
    background-color: #5E376D;
    font-size: 12px;
    border: 1px solid #5E376D85;
    text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.3);
  }
  .swal-button:hover,
  .swal-button:not([disabled]):hover {
    background-color: #5E376D85;
  }


.footer {
  background-color: #5E376D;
  font-weight: 600;
  color: white;
  padding: 20px 0px 5px 0px;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}
.footer a {
  color: white;
}